<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shashadhardas.findandsearch">

    <application
        android:name=".activity.FindAndSearchApplication"
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppMaterialTheme">
        <activity android:name=".activity.MainActivity">
        </activity>

        <activity android:theme="@style/SplashTheme" android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>